<div class = "container", id = "pit_edit">



<%= simple_form_for [@pit] do |f| %>




  <h4>Edit Pit</h4>


  <%= f.input :topic, required: true, autofocus: true %>

  <br>

  <%= f.input :author, class: "col-sm-2 control-label" %>  

  <br>

  <%= f.input :summary,  autocomplete: "off" %>

  <br>
  
  <%= f.input :image, class: "col-sm-2 control-label" %>

   <br>
  
  <%= f.input :video_url, class: "col-sm-2 control-label" %>

  <%= f.input :password, class: "col-sm-2 control-label" %>


  <%= f.input :password_confirmation, class: "col-sm-2 control-label" %>
   
   <br>

  <%= f.submit(type: 'submit', class: "btn btn-default") %>

 </div>
 <% end %>