<div class = "container list-pits", id = "list_pits"> 
    <%= link_to "Add New Pit", new_pit_path, id: "new_link", remote: true, class: "btn btn-default" %>
  <br>
  <br>  

  <div id = "pit_index">
   <% @pits.order('created_at DESC').each do |pit| %>
    <div class = "well"> 
       <h3 id="pit-title"><%= link_to pit.topic, pit_path(pit) %></h3>
       <p>by: <%= link_to pit.author, '#' %></p>
          <br>
            <p><%= truncate(pit.summary, :length => 100) %></p>
            <p>Replies (<%=link_to "#{pit.comments.count}", pit_path(pit) %>)</p>
            <p>Tags: <%= raw pit.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
          <br>

            <p>Pit Created by: <%= link_to  pit.user.name, pit.user %> on <%= pit.created_at.strftime("%d %b. %Y") %></p>


            <%= link_to "View Pit", pit_path(pit), class: "btn btn-default" %>
                      
            <% if pit.user == current_user %>
            <%= link_to "Delete Pit", pit_path(pit), method: :delete, data: { confirm: 'Are you sure?' }, remote: true,  class: "btn btn-default"  %>
            <% end %>
    </div>
            <% end %>
  </div>
           <%= will_paginate @pits, renderer: BootstrapPagination::Rails %>
</div>

