<div class="container pit-show">
  <div class="row">
    

   <div class="col-md-8 pit-starter-info">
     <div class="well"> 
     
   <tr>
      <td><%= image_tag avatar_url(@pit.user) %></td>
      <td><strong><%= @pit.user.name %></strong></td>
   </tr>
   <br>
   <br>
      <ul class = "pit-creator-list">
        <li>Email: <%= @pit.user.email %></li>
        <li>Pits Started: <%= @pit.user.pits.count %> </li>
        <li>Positive votes for (<%= @pit.get_likes.size.to_i %>)</li>
        <li>Negative votes for (<%= @pit.get_dislikes.size.to_i %>)</li>
      </ul>
   


  </div>
     <br>
        </div>
        <div class="col-md-4 pit-info">
          <div class="panel panel-default">
              <div class = "panel-heading">
                <h3>Pit Info</h3>
            </div>
            <div class = "panel-body">
              <ul class = "pit-info-list">
                <li>Pit Views</li>
                <li>Pit Ranking</li>
                <li>Pit Category - Book - Philosophy</li>
                <li> Persuasive responses ( <%= @convincing_response %> )</li>
              </ul>
            </div>
          </div>
         </div>

  
  
  <div class="row">
      <div class="col-md-8">
        
<div class="well">
    
    
    <% if @pit.video_url? %>
    <iframe width="560" height="345" src=<%= @pit.video_url %> frameborder="0" allowfullscreen></iframe>
    <% else %>
    <div class = "pit-image"><%= image_tag @pit.image_url %></div>
    <h3 class="pit-title"><%= @pit.topic %></h3>
    <p><%= @pit.summary %></p>
    <p>by <%= @pit.author %></p>
    <% end %>
    <br>
    <br>
    <div class = "like-argument">
    <p class = "like-summary">Was this argument convincing to you?</p>
    <%= link_to "Yes", pit_like_path(@pit), method: :put, class: "btn btn-default" %>
    <%= link_to "No", pit_dislike_path(@pit), method: :put, class: "btn btn-default" %>
    </div>
    <div class = "pit-rep">
    <p class = "like-pit"><%= @pit.get_likes.size %> users found this argument convincing</p>
    <p class = "dislike-pit"><%= @pit.get_dislikes.size %> users found this argument unconvincing</p>
    </div>
    <br>
    <br>
    <h3>Responses</h3>
    <%= render @pit.comments %>
    <%= render "comments/form" %>
</li>
   
    </div>
  </div>





 

    
    <div class="col-md-4">
      <div class = "panel panel-default">
        <div class = "panel-heading">
          <h3 class="user-list">Pit Members</h3>
        </div>
        <div class = "panel-body">
      <ul class = "pit-user-list">
        <li>Hustad</li>
        <li>User2</li>
        <li>User3</li>
        <li>User4</li>
        <li>User5</li>
        <li>User6</li>
        <li>User7</li>
        <li>User8</li>
        </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  
  </div>
</div>
