<div class = "container" id = "pit-show">
    <div class = "row">
      <div class = "col-md-3">
        <div class = "info-block">
        <h4 class = "pit-info">Heat Index</h4>
          <ul class = "list-group pit-info-list">

            <li>Pit started by: <%= @pit.users.name %></li>
            <li>Pit Views</li>
            <li>Pit Ranking</li>
            <li>Positive responses ( <%= @convincing_response %> )</li>
            
            <li>Pits Burned: <%= @pit.users.count %> </li>
            <li>Positive votes for (<%= @pit.get_likes.size.to_i %>)</li>
            <li>Negative votes for (<%= @pit.get_dislikes.size.to_i %>)</li>
          </ul>
    
          <% if @pit.users == current_user %>
      <%= link_to '|Delete Pit|',        pit_path(@pit),
                    method: :delete, data: { confirm: 'Are you sure?'} %>
      <%= link_to '|Edit|', edit_pit_path(@pit) %>  
                    <% end %>
    </div>
     

        <div class = "info-block">
        <h4 class = "member-info">Current Pit Members</h4>
          <ul class = "list-group pit-info-list">
            <li>User 1</li>
            <li>User 2</li>
            <li>User 3</li>
            <li> Persuasive responses ( <%= @convincing_response %> )</li>
          </ul>
        </div>
        <h4><%= @pit.users.first.name %>'s Current Pits</h4>
          <ul class = "user-pit-list", id = "current-pits">
            
            <% @pits.each do |pit| %>
              <li><%= link_to pit.topic, pit_path(pit) %></li>
            <% end %>
    
                   
            
          </ul>
      </div>

    <% if @pit.video_url? %>
      <div class = "col-md-7">
        <center><h3 class = "pit-title"><%= @pit.topic %></h3></center>
          
            <div class="embed-container">  
              <%= embed(@pit.video_url) %>
            </div>         
          
             
             <p><%= simple_format @pit.summary_html %></a></p>
             <p>Tags: <%= raw @pit.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
             <p>by: <%= @pit.author %></p>
          <div class="sexy_line"></div>
          <div class = "like-argument">
            <p class = "like-summary">Upvote
              <%= link_to "<span class=\"glyphicon glyphicon-thumbs-up\"></span>".html_safe, pit_like_path(@pit), method: :put %>Downvote
              <%= link_to "<span class= \"glyphicon glyphicon-thumbs-down\"></span>".html_safe, pit_dislike_path(@pit), method: :put %></p>
          </div>
    
         <div class = "pit-rep">
           <p class = "like-pit"><%= @pit.get_likes.size %> upvotes</p>
           <p class = "dislike-pit"><%= @pit.get_dislikes.size %> downvotes</p>
         </div>
      </div>
      
      <% else %>
      
    <div class = "col-md-7">
        <center><h3 class = "pit-title"><%= @pit.topic %></h3></center>
        <div class="sexy_line"></div>
             <p><%= simple_format @pit.summary_html %></a></p>
             <p>Tags: <%= raw @pit.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
             <p>by: <%= @pit.author %></p>
        <div class="sexy_line"></div>

      <div class = "like-argument">
        <p class = "like-summary">Upvote
              <%= link_to "<span class=\"glyphicon glyphicon-thumbs-up\"></span>".html_safe, pit_like_path(@pit), method: :put %>Downvote
              <%= link_to "<span class= \"glyphicon glyphicon-thumbs-down\"></span>".html_safe, pit_dislike_path(@pit), method: :put %></p>
      </div>
    
      <div class = "pit-rep">
        <p class = "like-pit"><%= @pit.get_likes.size %> upvotes</p>
        <p class = "dislike-pit"><%= @pit.get_dislikes.size %> downvotes</p>
      </div>
    </div>
      <% end %>
      <br>

  
  <div class = "col-md-2">
    
  </div>

<div class = "row">
  <div class = "col-md-12">
          <div class="detailBox">
      <br>
     <div class="actionBox">
      <h3>Comments</h3>
        <%= render @pit.comments %>
        <%= render "comments/form" %>

        </div>
      </div>
  </div>
</div>