<div class = "container" id = "pit-show">
    <div class = "row">
      <div class = "col-md-3">
        <div class = "info-block">
        <h4 class = "pit-info">Pit</h4>
          <ul class = "list-group pit-info-list">
            <li>Pit Views</li>
            <li>Pit Ranking</li>
            <li>Pit Category - Book - Philosophy</li>
            <li> Persuasive responses ( <%= @convincing_response %> )</li>
            <li>Email: <%= @pit.user.email %></li>
            <li>Pits Started: <%= @pit.user.pits.count %> </li>
            <li>Positive votes for (<%= @pit.get_likes.size.to_i %>)</li>
            <li>Negative votes for (<%= @pit.get_dislikes.size.to_i %>)</li>
          </ul>
          <% if @pit.user == current_user %>
      <%= link_to '|Delete Pit|',        pit_path(@pit),
                    method: :delete, data: { confirm: 'Are you sure?'} %>
      <%= link_to '|Edit|', edit_pit_path(@pit) %>  
                    <% end %>
        </div>
        <div class = "info-block">
        <h4 class = "member-info">Current Pit Members</h4>
          <ul class = "list-group pit-info-list">
            <li>User 1</li>
            <li>User 2</li>
            <li>User 3</li>
            <li> Persuasive responses ( <%= @convincing_response %> )</li>
          </ul>
        </div>
      </div>

    <% if @pit.video_url? %>
      <div class = "col-md-7">
        <center><h3 class = "pit-title"><%= @pit.topic %></h3></center>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src=<%= @pit.video_url %> allowfullscreen></iframe>
          </div>
             <p><%= @pit.summary %></a></p>
             <p>by: <%= @pit.author %></p>
          <div class="sexy_line"></div>
          <div class = "like-argument">
            <p class = "like-summary">Was this summary convincing to you?</p>
              <%= link_to "<span class=\"glyphicon glyphicon-thumbs-up\"></span>".html_safe, pit_like_path(@pit), method: :put %>
              <%= link_to "<span class= \"glyphicon glyphicon-thumbs-down\"></span>".html_safe, pit_dislike_path(@pit), method: :put %>
          </div>
    
         <div class = "pit-rep">
           <p class = "like-pit"><%= @pit.get_likes.size %> users found this argument convincing</p>
           <p class = "dislike-pit"><%= @pit.get_dislikes.size %> users found this argument unconvincing</p>
         </div>
      </div>
      
      <% else %>
      
    <div class = "col-md-7">
        <center><h3 class = "pit-title"><%= @pit.topic %></h3></center>
             <p><%= @pit.summary %></a></p>
             <p>by: <%= @pit.author %></p>
      <div class="sexy_line"></div>

      <div class = "like-argument">
        <p class = "like-summary">Was this summary convincing to you?</p>
          <%= link_to "<span class=\"glyphicon glyphicon-thumbs-up\"></span>".html_safe, pit_like_path(@pit), method: :put %>
          <%= link_to "<span class= \"glyphicon glyphicon-thumbs-down\"></span>".html_safe, pit_dislike_path(@pit), method: :put %>
      </div>
    
      <div class = "pit-rep">
        <p class = "like-pit"><%= @pit.get_likes.size %> users found this argument convincing</p>
        <p class = "dislike-pit"><%= @pit.get_dislikes.size %> users found this argument unconvincing</p>
      </div>
    </div>
      <% end %>

      
     

  <div class = "col-md-2">
  </div>

<div class = "row">
  <div class = "col-md-12">
          <div class="detailBox">
      <br>
     <div class="actionBox">
      <h3>Comments</h3>
        <ul class="commentList">
            <li>
                <div class="commenterImage">
                  <img src="http://lorempixel.com/50/50/people/6" />
                </div>
                <div class="commentText">
                    <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>

                </div>
            </li>
            <li>
                <div class="commenterImage">
                  <img src="http://lorempixel.com/50/50/people/7" />
                </div>
                <div class="commentText">
                    <p class="">Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span class="date sub-text">on March 5th, 2014</span>

                </div>
            </li>
            <li>
                <div class="commenterImage">
                  <img src="http://lorempixel.com/50/50/people/9" />
                </div>
                <div class="commentText">
                    <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>

                </div>
            </li>
        </ul>
        <form class="form-inline" role="form">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Leave a comment" />
            </div>
            <div class="form-group">
                <button class="btn btn-default">Add</button>
            </div>
        </form>
    </div>
</div>
          </div>
        </div>
          </div>
    </div>