
        <ul class="commentList">
            <li>
                <div class="commenterImage">
                  <%= image_tag avatar_url(comment.user) %>
                </div>
                <div class="commentText">
                    <p class=""><%= comment.body_html %></p> <span class="date sub-text">by: <%= comment.user.name %> on <%= comment.created_at.strftime("%d %b. %Y") %>
                    <% if comment.user == current_user %>
                          <%= link_to 'Delete Comment', [@pit, comment],
                                  method: :delete,
                                  data: { confirm: 'Are you sure?' } %>
                                  <% end %>
                       </p>
                    </span>
                </div>
            </li>
        </ul>