<html>
    <head>
        <title>Jumbotron Example</title>
        <link rel="stylesheet" href="main.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    </head>

    <body>

     <div class = "container">
       <div class = "jumbotron">
         <center><h1>Welcome to the Firepit!</h1>
         <p>This is the place where sitting by the fire meets the digital world</p>

         <% if current_user && !current_user.sign_in_count.blank? && current_user.sign_in_count == 1 && session[:tour].blank? %>         
         <p>Welcome to the Fire <%=link_to current_user.name, current_user %>!</p>
         <%= link_to "Start New Pit", new_pit_path, class: "btn btn-default" %>
         <%= link_to "Join Existing Pit", pits_path, class: "btn btn-default" %>
         <% elsif user_signed_in? %>
         <!-- If user is logged in then show these 2 buttons and welcome message -->
         <p>Welcome Back! <%=link_to current_user.name, current_user %></p>
         <%= link_to "Start New Pit", new_pit_path, class: "btn btn-default" %>
         <%= link_to "Join Existing Pit", pits_path, class: "btn btn-default" %>
         
             
         <% else %>
         <%= link_to "Join the Pit!", new_user_registration_path, class: "btn btn-default" %>
         <br>
         <br>
         <%= link_to "User Login", user_session_path %>
         </center>
         <% end %>

         
       </div>
     </div>

     <div class = "container">

        <div class = "row">

           <div class = "col-md-6">
             <% unless user_signed_in? %>
             <h3><a href="#">Specific topics with specific people</a></h3>
             <p>Start a topic with a book, video, or just and idea you have. Then invite and discuss</p
             <%= link_to "Start Now", new_pit_path, class: "btn btn-default" %>
             
             <%= link_to "Start Now", new_user_registration_path, class: "btn btn-default" %>
            
           </div> 

         <div class = "col-md-6">
             <h3><a href="#">Share and discuss around our digital fire</a></h3>
             <p>Since the dawn of time, great ideas have manifested themselves and been discussed around the fire. It's no wonder then that creating a digital version of such discussions is a must in our day and age</p>
             <%= link_to "Read More", about_path, class: "btn btn-default" %>
             <% else %>
        <% end %>
           </div> 
        </div>
     </div>