
    


<body class = "home">
    

     
    <div class = "jumbotron" id = "front-jumbotron">
        <div class = "container">
          <h1 id = "front-title">Digital Ashes</h1>
  

         <% if current_user && !current_user.sign_in_count.blank? && current_user.sign_in_count == 1 && session[:tour].blank? %>         
           <p>Welcome to the Fire <%=link_to current_user.name, current_user %>!</p>
         <%= link_to "Start New Pit", new_pit_path, class: "btn btn-default front" %>
         <%= link_to "Join Existing Pit", pits_path, class: "btn btn-default front" %>
         <% elsif user_signed_in? %>
         <!-- If user is logged in then show these 2 buttons and welcome message -->
           <p>Welcome Back <%=link_to current_user.firstname, current_user %>!</p>
         <%= link_to "Start New Pit", new_pit_path, class: "btn btn-default front" %>
         <%= link_to "Join Existing Pit", pits_path, class: "btn btn-default front" %>
         
             
         <% else %>
         <%= link_to "Join the Pit!", new_user_registration_path, class: "btn btn-default front" %>
           <br>
           <br>
         <%= link_to "Login", user_session_path %>
         </center>
         <% end %>

      </div> 
    </div>
<% unless user_signed_in? %>
     <div class = "container">

        <div class = "row" id ="front-info">

           <div class = "col-md-6">
             
             <h3 class = "info-title"><a href="#">Specific topics with specific people</a></h3>
             <p>Start a topic with a book, video, or just an idea you have. Then invite and discuss</p>
             
             
             <%= link_to "Start Now", new_user_registration_path, class: "btn btn-default front" %>
            
           </div> 

         <div class = "col-md-6">
             <h3 class = "info-title"><a href="#">Share and discuss any idea</a></h3>
             <p>Since the dawn of time, great ideas have manifested themselves and been discussed around the fire. It's no wonder then that creating a digital version of such discussions is a must in our day and age</p>
             <%= link_to "Read More", about_path, class: "btn btn-default front" %>
             <% else %>
        
           </div> 
        </div>
     </div>
</body>
<% end %>
